/*
 * Grid Adjustments
 * --------------------------------------------
 * Adjustments for the default Bootstrap grid
 * --------------------------------------------
 */

.container {
  max-width: 1090px;
  width: auto;
}

.row-fluid {
  overflow: hidden;
}

.row-c6-12-3456 .format-standard.hentry {
  padding-left: 10px;
}

.super_wrapper,
.flawless_dynamic_area {
  position: relative;
}

@media ( max-width: 979px ) {

  div.container {
    border: 0px;
    padding: 0em;
  }

  div.row-fluid {
    width: 100%;
  }

}
