.icon-gray,
.icon-big-dd,
.icon-dd {
  background-position: 14px 14px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  vertical-align: text-top;
  background: url('../img/global.sprite.png');
}

.icon-big-dd {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.hdp_normal_text {
  font-weight: normal !important;
}

.hdp_event_date {
  background-position: -35px -6px;
}

.hdp_event_time {
  background-position: -34px -36px;
}

.hdp_artist {
  background-position: -66px -6px;
}

.hdp_tour {
  background-position: -95px -36px;
}

.hdp_genre {
  background-position: -34px -66px;
}

.hdp_promoter {
  background-position: -96px -67px;
}

.hdp_age_limit {
  background-position: -66px -36px;
}

.hdp_venue {
  background-position: -66px -65px;
}

.ui-tabs-active .hdp_venue {
  background-position: -65px -114px;
}

.hdp_type {
  background-position: -95px -6px;
}

.icon-hdp_event,
.icon-events {
  background-position: -5px -66px;
}

.ui-tabs-nav .icon-hdp_event,
.ui-tabs-nav .icon-events {
  background-position: -96px -92px;
}

.ui-tabs-nav .ui-tabs-active .icon-hdp_event,
.ui-tabs-nav .ui-tabs-active .icon-events {
  background-position: -5px -66px;
}

.ui-tabs-nav .icon-comments {
  background-position: -125px -36px;;
}

.ui-tabs-nav .ui-tabs-active .icon-comments {
  background-position: -65px -92px;
}

.icon-hdp_video,
.icon-video {
  background-position: -5px -93px;
}

.ui-tabs-nav .icon-hdp_video {
  background-position: -34px -116px;
}

.ui-tabs-nav .ui-tabs-active .icon-hdp_video {
  background-position: -5px -93px;
}

.icon-hdp_photo_gallery,
.icon-gallery {
  background-position: -36px -93px;
}

.ui-tabs-nav .icon-hdp_photo_gallery {
  background-position: -156px -116px;
}

.ui-tabs-nav .ui-tabs-active .icon-hdp_photo_gallery {
  background-position: -36px -93px;
}

.icon-time-ago {
  background-position: -156px -8px;
}

.icon-gray.icon-time-ago {
  background-position: -127px -8px;
}

.icon-gray.icon-posted-in {
  background-position: -127px -65px;
}

.icon-info-blue {
  background-position: -127px -115px;
}

.ui-tabs-nav .ui-tabs-active .icon-info-blue {
  background-position: -5px -115px;
}

.icon-posted-in {
  background-position: -156px -35px;
}

.icon-comments-gray {
  background-position: -125px -36px;
}

.ui-state-active .icon-comments-blue {
  background-position: -65px -92px;
}

.icon-comments-blue {
  background-position: -65px -92px;
}

.icon-comments-count {
  background-position: -156px -8px;
}

.icon-gray.icon-permalink {
  background-position: -127px -93px;
}

.icon-permalink {
  background-position: -242px -5px;
}
